@CHARSET "UTF-8";

/* override */

@media (min-width: 768px) {

	.container>.navbar-header, .container-fluid>.navbar-header,
	.container>.navbar-collapse, .container-fluid>.navbar-collapse {

	}

}

@media (min-width: 900px) {

	.container>.navbar-header, .container-fluid>.navbar-header,
	.container>.navbar-collapse, .container-fluid>.navbar-collapse {
		margin-left: 200px;
	}

}

.navbar {
	box-shadow: 0 0 5px;
}

/* common styles */

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

html {
	overflow: hidden;
}

body {
	overflow: auto;
}

.control-block {
	display: block;
}

.control-right {
	float: right;
}

.control-left {
	float: left;
}

.control-content-center {
	text-align: center;
}

.control-clear:AFTER {
	content: ".";
	height: 0;
	clear: both;
	visibility: hidden;
}

.message-error {
	color: #D9534F;
}

.panel-inline-table {
	display: inline-table;
	width: 100%;
}

/* login page styles */

#loginPageContent {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	font-family: sans-serif;
	background-color: #2A6396;
}

#loginContainer {
	display: none;
	position: absolute;
	width: 380px;
	height: 500px;
}

#loginPanel {
	height: 90%;
	margin-bottom: 0px;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	overflow: hidden;
}

#loginPanel .panel-body {
	padding: 0px;
	height: 88%;
}

#loginPanel .btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
	text-decoration: none;
}

#loginFormHead {
	font-size: medium;
	padding-top: 5px;
}

#loginFormHead label {
	font-weight: normal;
}

#loginFormHead .btn {
	font-size: small;
	padding: 5px 12px;
	margin-top: -4px;
}

#loginFormMain {
	height: 83%;
}

.login-panel-block {
	display: block;
	position: relative;
	width: 100%;
}

.login-panel-table {
	position: relative;
	width: 100%;
}

.login-panel-block-buttons {
	padding: 10px;
}

.login-panel-block-buttons button {
	font-size: small;
	padding: 2px 8px;
}

.login-panel-block-top {
	padding: 11px;
	padding-right: 15px;
	padding-left: 15px;
}

.login-panel-block-logo {
	display: table;
	height: 60px;
}

.login-panel-block-logo span {
	display: table-cell;
	vertical-align: middle;
}

.login-panel-block-input {
	display: table;
	height: 55%;
	padding: 0px 40px;
	padding-bottom: 15px;
}

.login-panel-block-input span {
	display: table-cell;
	vertical-align: bottom;
}

.login-panel-block-input input {
	text-align: center;
}

.login-panel-block-input i {
	width: 10px;
}

.login-footer {
	height: 10%;
	padding: 8px;
	font-size: small;
	color: #FFF;
	text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}

.login-message-error {
	padding-top: 10px;
	display: block;
}

/* wait styles */

.wait-container {
	background-color: transparent;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 90%;
	position: absolute;
	z-index: 99999;
	display: none;
}

.wait-overlay {
	width: 100%;
	height: 100%;
	opacity: 0.5;
	display: table;
}

.wait-overlay span {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

/* header styles */

.header-block-logo {
	display: none;
}

@media (min-width: 900px) {
	
	.header-block-logo {
		display: table;
		height: 50px;
		left: 15px;
		top: 0px;
		position: fixed;
		z-index: 1031;
	}

}

@media (max-width: 768px) {
	
	.header-block-logo {
		display: table;
		height: 50px;
		left: 15px;
		top: 0px;
		position: fixed;
		z-index: 1031;
	}

}

.header-block-logo span {
	display: table-cell;
	vertical-align: middle;
}

.header-block-user {
	display: table;
	height: 50px;
}

.header-block-user span {
	display: table-cell;
	vertical-align: middle;
}

.header-text-user  {
	color: white;
	padding: 3px 14px;
	display: block;
	background-color: rgb(0, 0, 0);
	border-radius: 15px;
	font-weight: normal;
	font-size: small;
	margin: 0px;
	margin-right: 10px;
}

/* main page styles */

.main-sidebar {
	background-color: #f5f5f5;
	border-right: 1px solid #eee;
	bottom: 0;
	display: block;
	left: 0;
	overflow-x: hidden;
	overflow-y: auto;
	padding-bottom: 20px;
	position: fixed;
	top: 51px;
	z-index: 1000;
	width: 200px;
}

.main-sidebar a {
	text-decoration: none;
	display: block;
	padding: 8px 20px;
	cursor: pointer;
	color: #428bca;
}

.main-sidebar table {
	width: 100%;
}

.main-sidebar a:HOVER {
	background-color: #DDDDDD;
	color: #235698;
}

.main-sidebar a:FOCUS {
	background-color: #a0a0a0;
	color: #fff;
}

.main-sidebar .main-sidebar-selected {
	background-color: #428bca;
	color: #fff !important;
}

.main-sidebar .main-sidebar-selected:FOCUS {
	background-color: #428bca;
	color: #fff !important;
}

.main-sidebar .main-sidebar-selected:HOVER {
	background-color: #659FD0;
	color: #fff !important;
}

.main-sidebar-section {
	padding-top: 20px;
}

.main-content {
	bottom: 0px;
	overflow-x: auto;
	overflow-y: auto;
	position: fixed;
	top: 50px;
	left: 200px;
	display: block;
	margin: 0px;
	padding: 20px;
	right: 0px;
}

.main-start-content {
	width: 100%;
	height: 90%;
	display: table;
}

.main-start-content span {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.main-start-content label {
	display: block;
	padding: 5px;
	padding-top: 15px;
	color: #444444;
}

.main-header tr {
	vertical-align: bottom;
}

.main-header button {
	margin-bottom: 2px;
}

.main-header-text {
	font-size: 1.5em;
	font-weight: normal;
	padding-left: 10px;
	padding-right: 10px;
}

.main-datatable {
	font-size: small;
}

.main-datatable tbody>tr:HOVER {
	background-color: #D6ECF7;
}

