<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">test</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/corporateforce</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping class="com.corporateforce.server.hibernate.Offices" />
        <mapping class="com.corporateforce.server.hibernate.Tickets" />
        <mapping class="com.corporateforce.server.hibernate.Trainings" />
        <mapping class="com.corporateforce.server.hibernate.Holidays" />
        <mapping class="com.corporateforce.server.hibernate.Results" />
        <mapping class="com.corporateforce.server.hibernate.Settings" />
        <mapping class="com.corporateforce.server.hibernate.Trainingsuserslink" />
        <mapping class="com.corporateforce.server.hibernate.Projects" />
        <mapping class="com.corporateforce.server.hibernate.Tutorials" />
        <mapping class="com.corporateforce.server.hibernate.Worklogs" />
        <mapping class="com.corporateforce.server.hibernate.Users" />
        <mapping class="com.corporateforce.server.hibernate.Chatterresourceslink" />
        <mapping class="com.corporateforce.server.hibernate.Contacts" />
        <mapping class="com.corporateforce.server.hibernate.Roles" />
        <mapping class="com.corporateforce.server.hibernate.Chatter" />
        <mapping class="com.corporateforce.server.hibernate.Articles" />
        <mapping class="com.corporateforce.server.hibernate.Languages" />
        <mapping class="com.corporateforce.server.hibernate.Profiles" />
        <mapping class="com.corporateforce.server.hibernate.Articlesresourceslink" />
        <mapping class="com.corporateforce.server.hibernate.Labels" />
        <mapping class="com.corporateforce.server.hibernate.Questions" />
        <mapping class="com.corporateforce.server.hibernate.Resources" />
        <mapping class="com.corporateforce.server.hibernate.Objectives" />
    </session-factory>
</hibernate-configuration>
