<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/corporateforce?useUnicode=true&amp;connectionCollation=utf8_general_ci&amp;characterSetResults=utf8</property>
        <property name="hibernate.connection.CharSet">utf8</property>
        <property name="hibernate.connection.characterEncoding">utf8</property>
        <property name="hibernate.connection.useUnicode">true</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">test</property>
    
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="use_sql_comments">true</property>
    
        <mapping class="org.corporateforce.server.model.Chatter" />
        <mapping class="org.corporateforce.server.model.Trainings" />
        <mapping class="org.corporateforce.server.model.Articlesresourceslink" />
        <mapping class="org.corporateforce.server.model.Chatterresourceslink" />
        <mapping class="org.corporateforce.server.model.Articles" />
        <mapping class="org.corporateforce.server.model.Questions" />
        <mapping class="org.corporateforce.server.model.Resources" />
        <mapping class="org.corporateforce.server.model.Settings" />
        <mapping class="org.corporateforce.server.model.Trainingsuserslink" />
        <mapping class="org.corporateforce.server.model.Tutorials" />
        <mapping class="org.corporateforce.server.model.Worklogs" />
        <mapping class="org.corporateforce.server.model.Contacts" />
        <mapping class="org.corporateforce.server.model.Users" />
        <mapping class="org.corporateforce.server.model.Labels" />
        <mapping class="org.corporateforce.server.model.Projects" />
        <mapping class="org.corporateforce.server.model.Results" />
        <mapping class="org.corporateforce.server.model.Languages" />
        <mapping class="org.corporateforce.server.model.Tickets" />
        <mapping class="org.corporateforce.server.model.Profiles" />
        <mapping class="org.corporateforce.server.model.Objectives" />
        <mapping class="org.corporateforce.server.model.Offices" />
        <mapping class="org.corporateforce.server.model.Holidays" />
        <mapping class="org.corporateforce.server.model.Roles" />
    </session-factory>
</hibernate-configuration>
